{% load i18n %}
{% load staticfiles %}
{% load tz %}
{% load common_tags %}
{% get_current_timezone as TIME_ZONE %}
{% get_timezone as timezones %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <title>Calendar</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/own.css' %}">
    {% block css %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body style="background: #fafafa;">
    <header>
      <nav class="red lighten-2">
        <div class="nav-wrapper">
          <div class="container">
            <a class="brand-logo" href="{% url 'index' %}">pyCal</a>
            <a href="#" data-activates="menu-sidenav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li {% if home %}class="active"{% endif %}><a href="{% url 'index' %}">Home</a></li>
              <li {% if calendar %}class="active"{% endif %}><a href="{% url 'calendar' %}">{% trans 'Calendar' %}</a></li>
              {% if user.is_authenticated %}
              <li {% if create_event %}class="active"{% endif %}><a href="{% url 'events:create_event' %}">{% trans 'New Event' %}</a></li>
              {% if user.is_staff %}
              <ul id="menu-dropdown" class="dropdown-content">
                <li><a href="{% url 'admin:index' %}">{% trans 'Django admin'%} </a></li>
                <li><a href="{% url 'profiles:add_profile' %}">{% trans 'Add Profiles' %}</a></li>
                <li><a href="{% url 'events:upload_ical' %}">{% trans 'Upload ICal' %}</a></li>
                <li><a href="{% url 'profiles:list_profiles' %}">{% trans 'List Profiles' %}</a></li>
              </ul>
              <li><a class="dropdown-button" href="#!"
                  data-activates="menu-dropdown">Administration<i class="material-icons right">arrow_drop_down</i></a></li>
              {% endif %}
              {% endif %}
              {% if user.is_authenticated %}
              <li {% if edit_account %}class="active"{% endif %}><a href="{% url 'profiles:edit_account' %}">{% trans 'Edit Account' %}</a></li>
              <li><a href="{% url 'profiles:logout' %}">{% trans 'Log out' %}</a></li>
              {% else %}
              <li><a href="{% url 'profiles:register' %}">{% trans 'Register' %}</a></li>
              <li><a href="{% url 'profiles:login' %}">{% trans 'Login' %}</a></li>
              {% endif %}
            </ul>
            <ul class="side-nav" id="menu-sidenav">
              <li {% if home %}class="active"{% endif %}><a href="{% url 'index' %}">Home</a></li>
              <li {% if calendar %}class="active"{% endif %}><a href="{% url 'calendar' %}">{% trans 'Calendar' %}</a></li>
              {% if user.is_authenticated %}
              <li {% if create_event %}class="active"{% endif %}><a href="{% url 'events:create_event' %}">{% trans 'New Event' %}</a></li>
              {% if user.is_staff %}
              <ul>
                <li><a href="{% url 'admin:index' %}">{% trans 'Django admin'%} </a></li>
                <li><a href="{% url 'profiles:add_profile' %}">{% trans 'Add Profiles' %}</a></li>
                <li><a href="{% url 'events:upload_ical' %}">{% trans 'Upload ICal' %}</a></li>
                <li><a href="{% url 'profiles:list_profiles' %}">{% trans 'List Profiles' %}</a></li>
              </ul>
              {% endif %}
              {% endif %}
              {% if user.is_authenticated %}
              <li {% if edit_account %}class="active"{% endif %}><a href="{% url 'profiles:edit_account' %}">{% trans 'Edit Account' %}</a></li>
              <li><a href="{% url 'profiles:logout' %}">{% trans 'Log out' %}</a></li>
              {% else %}
              <li><a href="{% url 'profiles:register' %}">{% trans 'Register' %}</a></li>
              <li><a href="{% url 'profiles:login' %}">{% trans 'Login' %}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="section">
        {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        &copy; {% now "Y" %} Simon Hanna
        <a class="grey-text text-lighten-3 right" href="{% url 'feedinfo' %}">ical</a>
        </div>
      </div>
    </footer>
    <!--script
      src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script>
      $(".button-collapse").sideNav();
      {% for message in messages %}
        Materialize.toast("{{ message }}", 5000);
      {% endfor %}
    </script>
    {% block javascript %} {% endblock %}
  </body>
</html>
