{% extends 'base.html' %}
{% load i18n %}
{% load common_tags %}
{% block content %}
<div class="section">
  <div class="row">
    <div class="col s4 right-align">
      <a class="btn-large" href="{{ prev_link }}">
        <i class="material-icons">keyboard_arrow_left</i>
      </a>
    </div>
    <div class="col s4 center-align">
        <h5>{{ month }} {{ year }}</h5>
    </div>
    <div class="col s4 left-align">
      <a class="btn-large" href="{{ next_link }}">
        <i class="material-icons">keyboard_arrow_right</i>
      </a>
    </div>
  </div>
</div>
<div class="section">
  <table id="eventCalendarTable" class="table" >
    <thead>
      <tr>
        {% for day in day_names %}
        <th>
          <div class="hide-on-small-only center-align">{{ day }}</div>
          <div class="hide-on-med-and-up center-align">{{ day|trunc:2 }}</div>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tr id="eventCalendarDayCell">
      {% for day in days %}
      <td style="vertical-align:top;"> 
        {{ day.day }}
        {% for event in day.events %}
        <div class="badge red">
        <a href="{{ event.get_absolute_url }}" class="truncate white-text">{{ event.title }}</a>
        </div>
        {% endfor %}
      </td>
      {% if day.sunday %}
    </tr>
    <tr id="eventCalendarDayCell">
      {% endif %}
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}
