{% extends 'base.html' %}
{% load i18n %}
{% block content %} 

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{% trans 'Delete Event' %}</h3>
	</div>
	<div class="panel-body">
		<ul class="list-group">
		<li class="list-group-item">{{ event.description }}</li>
		<li class="list-group-item">Locaiton: {{ event.location }}</li>
		<li class="list-group-item">Start: {{ event.start_date }} </li>
		<li class="list-group-item">End: {{ event.end_date }}</li>
		<li class="list-group-item">Author: {{ event.created_by.user.username }}</li>
	</ul>
	</div>
	<div class="panel-footer">	
		<form action="" method='post'>
			{% csrf_token %}
			<input type='submit' class="btn btn-default btn-block" value="{% trans 'Delete Event' %}">
		</form>
	</div>
	{% endblock %}
