{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'events/datetimepicker.min.css' %}">
{% endblock %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{% if edit %}{% trans 'Edit Event' %}{% else %}{% trans 'Create Event' %}{% endif %}</h3>
	</div>
	<div class="panel-body">
		<form action="" method='post'>
			{% csrf_token %}

			{% for field in form %}
			<div class="form-group{% if field.errors %} has-error{% endif %}">
				{% for error in field.errors %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
				{% endfor %}
				{% if 'date' in field.id_for_label %}
					<div class='input-group date' 
          id='datetimepicker{% if field.name == 'start_date' %}0{% else %}1{% endif %}'>
            {{ field }}
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
				{% else %}
					{{ field }}
				{% endif %}
			</div>
			{% endfor %}
			<input type='submit' class="btn btn-default btn-block" value="{% if edit %}{% trans 'Edit Event' %}{% else %}{% trans 'Create Event' %}{% endif %}">
		</form>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'events/moment-with-locales.min.js' %}"></script> 
<script src="{% static 'events/datetimepicker.min.js' %}"></script>
<script type="text/javascript">
$(function () {
  {% get_current_language as LANGUAGE_CODE %}
		$('#datetimepicker0').datetimepicker({
      locale: '{{ LANGUAGE_CODE }}',
      format: 'YYYY-MM-DD HH:mm',
});
		$('#datetimepicker1').datetimepicker({
      locale: '{{ LANGUAGE_CODE }}',
      format: 'YYYY-MM-DD HH:mm',
});
		});
</script>
{% endblock %}
