{% extends 'base.html' %}
{% load i18n %}
{% load common_tags %}
{% block content %} 
<div class="card">
  <form action="" method='post'>
    {% csrf_token %}
    <div class="card-content">
      <span class="card-title">{% trans 'Add Profiles' %}</span>
      {{ profile_formset.management_form }}
      {% for form in profile_formset.forms %}
      <div class="section profile">
        {% if form.errors %}
        <div class="alert alert-danger">
          {{ form.errors }}
        </div>
        {% endif %}
        <div class="row">
          <div class="input-field col l5 s12">
            {{ form.first_name }}
            {{ form.first_name.label_tag }}
          </div>
          <div class="input-field col l5 s12 offset-l1">
            {{ form.last_name }}
            {{ form.last_name.label_tag }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col l5 s12">
            {{ form.username }}
            {{ form.username.label_tag }}
          </div>
          <div class="input-field col l5 s12 offset-l1">
            {{ form.email }}
            {{ form.email.label_tag }}
          </div>
        </div>
        <div class="divider"></div>
      </div>
      {% endfor %}
    </div>
    <div class="card-action">
      <input type='submit' class="btn" value="{% trans 'Submit profiles' %}">
      <input type="button" id="add-profile" class="btn btn-flat" value="{% trans 'Add Profile' %}">
    </div>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
function cloneMore(selector, type) {
  var newElement = $(selector).clone(true);
  var total = $('#id_' + type + '-TOTAL_FORMS').val();
  newElement.find(':input').each(function() {
    var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total +
        '-');
    var id = 'id_' + name;
    $(this).attr({'name': name, 'id':
      id}).val('').removeAttr('checked');
  });
  newElement.find('label').each(function() {
    var newFor = $(this).attr('for').replace('-' +
        (total-1) + '-','-' + total + '-');
    $(this).attr('for', newFor);
  });
  total++;
  $('#id_' + type +
      '-TOTAL_FORMS').val(total);
  $(selector).after(newElement);
}
$('#add-profile').click(function() {
  cloneMore('.section:last', 'form');
});
</script>
{% endblock %}
