{% extends 'base.html' %}
{% load i18n %}
{% load common_tags %}
{% block content %} 
<div class="card">
  <div class="card-content">
    <span class="card-title">{% trans 'Users' %}</span>
    <table class="table striped">
      <thead>
        <tr>
          <th>{% trans 'Last Name' %}</th>
          <th>{% trans 'First Name' %}</th>
          <th>{% trans 'Username' %}</th>
          <th>{% trans 'Email' %}</th>
          <th>{% trans 'Unverified Email' %}</th>
          <th>{% trans 'Last Login' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.last_name }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.profile.unverified_email }}</td>
          <td>{{ user.last_login }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
	</div>
</div>
{% endblock %}
