{% extends 'base.html' %}
{% load i18n %}
{% load common_tags %}
{% block content %}
<div class="card">
	{% if validlink %}
		<form action="" method='post'>
			<div class="card-content">
				<span class="card-title">{% trans 'Reset Password' %}</span>
				{% csrf_token %}
				{% for field in form %}
		      <div class="input-field">
		       {% if field.errors %}
			       <div class="row">
			         <div class="col-md-offset-2 col-md-5 alert alert-danger">
			           {{ field.errors }}
			         </div>
			       </div>
			      {% endif %}
						{{ field }}
		        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
					</div>
				{% endfor %}
			</div>
			<div class="card-action">
				<input type='submit' class="btn" value="{% trans 'Change Password' %}">
			</div>
		</form>
	{% else %}
		<p>
			{% trans 'Sorry, the link is not valid' %}
		</p>
	{% endif %}
</div>
{% endblock %}
