{% extends 'base.html' %}
{% load i18n %}
{% load common_tags %}
{% block content %}
<div class="row">
  <div class="col l4 valign-wrapper">
    <div class="section valign">
      Please note the following
    </div>
  </div>
  <div class="col l8">
    <div class="card z-depth-5">
      <form class="form-horizontal" action="" method='post' role="form">
        <div class="card-content">
          <span class="card-title">{% trans 'Register' %}</span>
          {% csrf_token %}
          {% for field in form %}
          <div class="input-field">
            {% for error in field.errors %}
              <div class="row">
                <div class="col-md-offset-2 col-md-5 alert alert-danger">
                  {{ error }}
                </div>
              </div>
            {% endfor %}
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          </div>
          {% endfor %}
          {% trans 'Password and Usernames are case-sensitive. The use of lowercase usernames is advised.' %}
          <br>
          {% trans 'Please use your real name, so that you can be put in the correct groups' %}
          <br>
          {% trans 'Your Name and Email will only be visible to Admisitrators. Your Username will be public (if you post an Event)!' %}
        </div>
        <div class="card-action">
          <input type='submit' class="col-md-offset-2 btn btn-primary" value="{% trans 'Register' %}">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
