{% extends 'base.html' %}
{% load i18n %}
{% load common_tags %}
{% block content %}
<div class="card">
	<form class="form-horizontal" action="" method='post' role="form">
		<div class="card-content">
	    <span class="card-title">{% trans 'Reset Password' %}</span>
			<p>
			{% trans 'If the email is registered, a reset link will be sent to it.' %}
			</p>
			{% csrf_token %}
			{% for field in form %}
	    {% if field.errors %}
	      <div class="row">
	        <div class="col-md-offset-2 col-md-5 alert alert-danger">
	          {{ field.errors }}
	        </div>
	      </div>
	    {% endif %}
	    <div class="input-field">
				{{ field }}
	      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
			</div>
			{% endfor %}
		</div>
		<div class="card-action">
			<input type='submit' class="btn btn-primary" value='{% trans 'Reset Password' %}'>
		</div>
	</form>
  <div class="panel-footer">

  </div>
</div>
{% endblock %}
