{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'events/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% if edit %}{% trans 'Edit Event' %}{% else %}{% trans 'Create Event' %}{% endif %}</h3>
  </div>
  <div class="panel-body">
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        <ul>
          {% for error in form.non_field_errors %}
          <li>
            {{ error }}
          </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <form class="form-horizontal" action="" method='post'>
      {% csrf_token %}
      <div class="form-group{% if form.title.errors %} has-error{% endif %}">

        {% for error in form.title.errors %}
        <div class="row">
          <div class="col-md-offset-2 col-md-8 alert alert-danger">
            {{ error }}
          </div>
        </div>
        {% endfor %}
        <label for="{{ form.title.id_for_label }}" class="control-label col-md-2">
          {{ form.title.label }}:
        </label>
        <div class="col-md-8">
        {{ form.title|add_class:"form-control" }}
        </div>
      </div>

      <div class="form-group{% if form.location.errors %} has-error{% endif %}">
        {% for error in form.location.errors %}
        <div class="row">
          <div class="col-md-offset-2 col-md-8 alert alert-danger">
            {{ error }}
          </div>
        </div>
        {% endfor %}
        <label for="{{ form.location.id_for_label }}" class="control-label col-md-2">
          {{ form.location.label }}:
        </label>
        <div class="col-md-8">
          <div class="input-group">
          {{ form.location|add_class:"form-control" }}
          <span class="input-group-addon"><span class="fa fa-location-arrow"></span></span>
          </div>
        </div>
      </div>

      <div class="form-group{% if form.description.errors %} has-error{% endif %}">
        {% for error in form.description.errors %}
        <div class="row">
          <div class="col-md-offset-2 col-md-8 alert alert-danger">
            {{ error }}
          </div>
        </div>
        {% endfor %}
        <label for="{{ form.description.id_for_label }}" class="control-label col-md-2">
          {{ form.description.label }}:
        </label>
        <div class="col-md-8">
        {{ form.description|add_class:"form-control" }}
        </div>
      </div>

      <div class="form-group{% if form.dtstart.errors %} has-error{% endif %}">
        {% for error in form.dtstart.errors %}
        <div class="row">
          <div class="col-md-offset-2 col-md-8 alert alert-danger">
            {{ error }}
          </div>
        </div>
        {% endfor %}
        <label for="{{ form.dtstart.id_for_label }}" class="control-label col-md-2">
          {{ form.dtstart.label }}:
        </label>
        <div class="col-md-8">
        <div class='input-group date' id='datetimepicker0'>
          {{ form.dtstart|add_class:"form-control" }}
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
        </div>
      </div>

      <div id="end-date-div" class="form-group{% if form.dtend.errors %} has-error{% endif %}">
        {% for error in form.dtend.errors %}
        <div class="row">
          <div class="col-md-offset-2 col-md-8 alert alert-danger">
            {{ error }}
          </div>
        </div>
        {% endfor %}
        <label for="{{ form.dtend.id_for_label }}" class="control-label col-md-2">
          {{ form.dtend.label }}:
        </label>
        <div class="col-md-8">
        <div class='input-group date' id='datetimepicker1'>
          {{ form.dtend|add_class:"form-control" }}
          <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
        <div class="checkbox">
        <label>
        <input type="checkbox" name="{{ form.all_day.name }}" id="{{ form.all_day.id_for_label }}" />
        {{ form.all_day.label }}
        </label>
        </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
        <div class="checkbox">
        <label>
        <input type="checkbox" name="{{ form.private.name }}" id="{{ form.private.id_for_label }}" />
        {{ form.private.label }}
        </label>
        </div>
        </div>
      </div>

      <div id="details-div" class="form-group{% if form.details.errors %} has-error{% endif %}">
        {% for error in form.details.errors %}
        <div class="row">
          <div class="col-md-offset-2 col-md-8 alert alert-danger">
            {{ error }}
          </div>
        </div>
        {% endfor %}
        <label for="{{ form.details.id_for_label }}" class="control-label col-md-2">
          {{ form.details.label }}:
        </label>
        <div class="col-md-8">
        {{ form.details|add_class:"form-control" }}
        </div>
      </div>

      <div id="group-div" class="form-group">
        <label class="control-label col-md-2" id="id_label_group" for="{{ form.group.id_for_label }}">
          {% trans 'Limit access to' %}:
        </label>
        <div class="col-md-8">
        {{ form.group|add_class:"form-control" }}
        </div>
      </div>
      <div class="col-md-offset-4 col-md-4">
      <input type='submit' class="btn btn-primary" value="{% if edit %}{% trans 'Edit Event' %}{% else %}{% trans 'Create Event' %}{% endif %}">
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <p>
    {% trans 'Details are only visible to users that are logged in. You can further limit visibility to a specific group.' %}
    </p>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'events/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'events/bootstrap-datetimepicker-de.min.js' %}"></script>
<script type="text/javascript">
$(function() {
  $('#id_private').change(function() {
    change_private_view()
  });
  $('#id_all_day').change(function() {
    change_all_day_view()
  });
});
{% if form.private.value %}
$('#id_private').prop('checked', true);
{% else %}
$('#id_private').prop('checked', false);
{% endif %}
{% if form.all_day.value %}
$('#id_all_day').prop('checked', true);
{% else %}
$('#id_all_day').prop('checked', false);
{% endif %}

change_private_view();
change_all_day_view();
function change_all_day_view() {
  if ($('#id_all_day').prop('checked')) {
    $('#end-date-div').addClass('hidden');
  } else {
    $('#end-date-div').removeClass('hidden');
  }
}
function change_private_view() {
  if ($('#id_private').prop('checked')) {
    $("#details-div").addClass("hidden");
    $("#group-div").removeClass("hidden");
    $("#id_group").prop('required', true);
  } else {
    $("#details-div").removeClass("hidden");
    $("#group-div").addClass("hidden");
    $("#id_group").prop('required', false);
  }
}
$(function () {
  {% get_current_language as LANGUAGE_CODE %}
  $('#datetimepicker0').datetimepicker({
    language: '{{ LANGUAGE_CODE }}',
    autoclose: true,
    format: 'yyyy-mm-dd hh:ii',
    startDate: '{% now "Y-m-d" %}'
  });
  $('#datetimepicker1').datetimepicker({
    language: '{{ LANGUAGE_CODE }}',
    autoclose: true,
    startDate: '{% now "Y-m-d" %}',
    format: 'yyyy-mm-dd hh:ii'
  });
});
</script>
{% endblock %}
