{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load common_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/materialize.clockpicker.css' %}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="card">
      <form action="" method='post'>
        {% csrf_token %}
        <div class="card-content">
          <span class="card-title">
            {% if edit %}
              {% trans 'Edit Event' %}
            {% else %}
              {% trans 'Create Event' %}
            {% endif %}
          </span>
          {% if form.non_field_errors %}
            <div class="alert alert-danger">
              <ul>
                {% for error in form.non_field_errors %}
                <li>
                  {{ error }}
                </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% for field in form %}
          <div class="input-field">
            {% if field|fieldtype == 'Textarea' %}
              {{ field|add_css_class:'materialize-textarea' }} 
            {% elif field|fieldtype == 'DateInput' %}
              {{ field|add_css_class:'datepicker' }}
            {% elif field|fieldtype == 'TimeInput' %}
              {{ field|add_css_class:'timepicker' }}
            {% else %}
              {{ field }}
            {% endif %}
            {{ field.label_tag }}
          </div>
          {% endfor %}
        <div class="card-action">
          <input type='submit' class="btn" value="{% if edit %}{% trans 'Edit Event' %}{% else %}{% trans 'Create Event' %}{% endif %}">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/materialize.clockpicker.js' %}"></script>
<script type="text/javascript">
$('select').material_select();
$('.datepicker').pickadate({
  selectMonths: true, // Creates a dropdown to control month
  selectYears: 15 // Creates a dropdown of 15 years to control year
});
$('.timepicker').pickatime({
  placement: 'bottom',
  align: 'left',
  twelvehour: false,
  autoclose: true,
});
</script>
{% endblock %}
