{% extends 'base.html' %}
{% load i18n %}
{% load common_tags %}
{% block content %} 
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{% trans 'Change Email' %}</h3>
	</div>
	<div class="panel-body">

		<form class="form-horizontal" action="" method='post' role="form">
			{% csrf_token %}
      {% if form.email.errors %}
        <div class="row">
          <div class="col-md-offset-2 col-md-5 alert alert-danger">
            {{ form.email.errors }}
          </div>
        </div>
      {% endif %}
      <div class="form-group{% if form.email.errors %} has-error{% endif %}">
        <label class="col-md-2 control-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
        <div class="col-md-5">
        {{ form.email|add_css }}
        </div>
			</div>
      <div class="col-md-offset-2">
        <input type='submit' class="btn btn-primary" value="{% trans 'Change Email' %}">
      </div>
		</form>
	</div>
	<div class="panel-footer">
    {% trans 'You will have to confirm the new email. Until then the old one will be used.' %}
	</div>
</div>
{% endblock %}
