{% extends 'base.html' %}
{% load i18n %}
{% load tz %}
{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>		{% trans 'iCal Feeds' %}</strong>
</div>
<div class="panel-body">
  You can add public events to your calendar software using this link:
  <br>
  <br>
  <blockquote>
    {{ request.get_host }}{% url 'events:public_feed' %}
  </blockquote>
  {% if request.user.is_authenticated %}
  <p>
  A private link can be found in your <a href="{% url 'profiles:edit_account' %}">account</a>
  </p>
  {% endif %}
  You have to enable ssl. No username/password is needed.
  <br>
  You can also download the .ics file directly from 
  <a href="{% url 'events:public_feed' %}">here</a>
</div>
</div>
{% endblock %}
