{% extends 'base.html' %}
{% load i18n %}
{% load tz %}
{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>		{% trans 'Upcoming Events' %}</strong>
</div>
<div class="panel-body">
{% if events %}
<div class="list-group">
{% for event in events %}
<a class="list-group-item" href="{% url 'events:detail' event.id %}">
  <p>
  <strong>{{ event.title }}</strong>
  </p>
  {{ event.location }}
  {% trans 'at' %} 
  {% localtime on %}
  {{ event.start_date }}
  {% endlocaltime %}
</a>
{% endfor %}
</div>
{% else %}
<p><strong>Momentan steht noch nichts an, trag doch was ein :-)</strong></p>
{% endif %}
</div>
</div>
{% endblock %}
