{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-primary btn-block" href="{{ prev_link }}">{% trans 'Previous' %}</a>
      </div>
      <div class="col-md-4 text-center">
        <a class="btn btn-link disabled">
          <strong>{{ month }} {{ year }}</strong>
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary btn-block" href="{{ next_link }}">
          {% trans 'Next' %}
        </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="eventCalendarTable" class="table table-bordered" >
        <thead>
          <tr>
            {% for day in day_names %}
            <th > {{ day }} </th>
            {% endfor %}
          </tr>
        </thead>
        <tr id="eventCalendarDayCell">
          {% for day in days %}
          <td {% if not day.current_month %}class="active"{% elif day.today %}class="info"{% endif %}> 
            {{ day.day }}
            {% for event in day.events %}
            <br>
            <a href="{% url 'events:detail' event.id %}">{{ event.title|truncatechars:20 }}</a>
            {% endfor %}
            {% for recurrence in day.recurrences %}
            <br>
            <a href="{% url 'events:recurrence_detail' recurrence.id %}">{{ recurrence.event.title|truncatechars:20 }}</a>
            {% endfor %}
          </td>
          {% if day.sunday %}
        </tr>
        <tr id="eventCalendarDayCell">
          {% endif %}
          {% endfor %}
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
