{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap_forms %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
{% endblock %}

{% block content %}


{% get_providers as socialaccount_providers %}
<div class="container">

<form action="{% url 'account_login' %}" method='post' role="form">
      <div class="row">
      <div class="col-md-offset-4 col-md-4">
      <h2 class="">Log in</h2>
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      {% for field in form %}
      <div class="form-group">
      {% if field|widget_type == 'checkboxinput' %}
      <div class="checkbox">
      <label>
        {{ field }} {{ field.label }}
      </label>
      </div>
      {% else %}
      {{ field|add_class:'form-control' }}
      {% endif %}
      </div>
      {% endfor %}
      </div>
      </div>
      <div class="row">
      <div class="col-md-offset-4 col-md-2">
      <input type="submit" class="btn btn-info btn-block" value="Log in">
      </div>
      <div class="col-md-2">
      <a class="btn btn-block" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
      </div>
      </div>
    </form>
<p class="text-center">or</p>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
      {% for provider in socialaccount_providers %}
     <a title="{{provider.name}}" class="btn btn-{{provider.name|lower}} btn-block" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
    <span class="fa fa-{{provider.name|lower}}"></span>
     Sign in with {{provider.name}}</a>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}
