body {
  backgroud: #F7F2CB;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.badge {
  min-width: 3rem;
  padding: 0 6px;
  line-height: inherit;
  box-sizing: border-box;
  margin-top: 1px;

  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: $badge-bg-color;
  border-radius: 2px;
}

#eventCalendarTable {
  table-layout: fixed;
}
#eventCalendarTable th, td {
  overflow: hidden;
}
#eventCalendarTable th {
  width: 10%;
}
#eventCalendarDayCell {
  height: 100px;
}
