body {
  backgroud: #F7F2CB;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.message {
  position:absolute;
  z-index:10;
  top:10px;
  left:20%;
  width:60%
}
#eventCalendarTable {
  table-layout: fixed;
}
#eventCalendarTable th, td {
  overflow: hidden;
}
#eventCalendarTable th {
  width: 10%;
}
#eventCalendarDayCell {
  height: 100px;
}
